<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/be67c37a-35e0-4620-8969-a9fc59edca26/resourceGroups/Sistemas/providers/Microsoft.Web/sites/apisrada</ResourceId>
    <ResourceGroup>Sistemas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://apisrada.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://apisrada.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$apisrada</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>